---
name: Run Test Suite (Benchmarks)

on:
  push:
    branches: '*'
  pull_request:
    branches:
      - $default-branch

jobs:
  build-and-run-benchmarks:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          architecture: 'x64'
          cache: 'maven'
      - name: build project
        run: mvn -B compile
      - name: Run Benchmarks
        run: mvn -B test
